
@{
    ViewData["Title"] = "Reports";
    ViewData["Icon"] = "fa fa-file-alt";
}

<div class="row">
    <div class="col-md-4">
        <a class="btn btn-primary align-items-end" asp-controller="Report" asp-action="Edit"><i class="fa fa-plus-circle mr-2"></i>New Report</a>
    </div>
    <div class="col-md-8">

    </div>
</div>

